# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-atom.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Atom Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-atom %u"
GenericName[en_US]=Bitcoin Atom Wallet
GenericName=Bitcoin Atom Wallet
Icon=electrum
Name[en_US]=Electrum Bitcoin Atom Wallet
Name=Electrum Bitcoin Atom Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoinatom;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-atom --testnet %u"
Name=Testnet mode
